{% extends 'base2.html' %}
{% block contenido %}
	<div class="col-md-12">
		<div class="row box">
			<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
				<form  method="post">
				{% csrf_token %}
					<h2>Recuperar Usuario o Contraseña</h2>
					<h6>Se mandará un correo al correo electrónico asociado con la cuenta para poder recuperar usuario o contraseña.</h6>
					<hr class="colorgraph">

					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group">
								{{ form.email.errors}}
								<label for='id_email'>Correo Electrónico: </label> {{form.email}}
								
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group">
								<p></p>
								<button class="btn btn-primary pull-center " tabindex="7" type="submit" title="Buscar por correo electrónico"><i class="fa fa-sign-up"></i> Buscar</button>
							</div>
						</div>
					</div>


					
					<hr class="colorgraph">

					<div class="row">
						<p class="text-center">
							<a type="button" class="btn btn-primary " href="javascript:history.back(-1);" title="Ir la página anterior">Regresar</a>
						</p>
					</div>

				</form>
			</div>
		</div>
	</div>

  
{% endblock %}